.pageSubTitle {
  margin-top: 0.5rem;
}

.inputEmail {
  margin-top: 2rem;
}

.sendButton {
  border-radius: 50px !important;
  margin-top: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; 
  background-color: #FB23FF;
}